.App {
  text-align: center;
}

.App-header {
  background-color:rgba(255, 227, 159, 0.3);
  padding: 20px;
  margin-top: -90px;
  color: #182026;
  position: fixed;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-body {
  background-color: #fffff9;
}

.header {
  position: 'fixed'; 
  z-index: 9999; 
  width: '100%'; 
  background-color: 'rgba(255,255,255,1)'; 
}